/* import fonts from google fonts */
@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap');

:root{
    --light-gray:#2b3032a1;
    --base-color-1:#671524;
    --base-color-2:#ffc116;
    --border:#2b303218;
    --text-color:#ff686b;
    --sofia: 'Sofia', cursive;
    --roboto: 'Roboto', sans-serif;
    --lato: 'Lato', sans-serif;
    --gugi: 'Gugi', cursive;
    --anton: 'Anton', sans-serif;
}

.base-color-1{
    color:var(--base-color-1);
}

.base-color-2{
    color: var(--base-color-2);
}

.bg-base-color-1{
    background-color:var(--base-color-1)!important;
}

.text-color{
    color:var(--text-color);
}

.font-roboto{
    font-family: var(--roboto);
}

.lightblue{
    color:lightblue;
}

.btn-addToCart{
    background-color: white;
    border: 1px solid var(--border);
}
.btn-addToCart:hover{
    background-color: red;
    color:white;
    font-size: 110%;

}

/*header*/
header{
    background-color: var(--base-color-1);
    font-family:var(--roboto);
}

header.site-title{
    font-family: var(--gugi);
}

.container.dropdown-toggle,
.container.dropdown-item{
    font-size:o.7em;
} 

.header-links a{
    font-size:0.9em;
    text-decoration:none;
    color:white;
}

/**navigation menu**/

.navbar-nav{
    padding:0.8em 0em;
}

.navbar-nav .nav-link{
    font-size: 0.9em;
    color:var(--light-gray) !important;
}

.navbar-nav .nav-link:hover{
    color:var(--base-color-2) !important;
}

.navbar-nav .active .nav-link{
    color:var(--base-color-1) !important;
}

.navbar-nav .nav-item .nav-link{
    padding:0 1.3em;
}

.navbar-nav .basket-icon{
    margin-right: 6.5em !important;
}

/*Slider one*/
.site-slider{
    position: relative;
}

.position-top{
    position:absolute;
    top:45%;
}


.site-slider .slider-btn .prev,
.site-slider .slider-btn .next{
    background-color:var(--base-color-1);
    padding:1rem 1.5rem;
    border-radius:10rem;
    color:white;
    margin:0.1rem;
    opacity:0;
    transition:opacity 1s ease;
}

.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next{
    opacity:0.8;
}

.right-0{
    right:0;
}

/*Slick Dots*/
.slick-dots{
    display:flex;
    justify-content: center;
    margin:0;
    padding:1rem 0;
    list-style-type:none;
    position:absolute;
    bottom:0;
    right:50%;
}

.slick-dots li{
    margin:0 0.6rem;
}

.slick-dots button{
    display:block;
    width:0.5rem;
    height:0.5rem;
    padding:0;
    border:none;
    background-color:white;
    text-indent:-99999px;
    border-radius:100%;
}

.slick-dots li.slick-active button{
    transform:scale(2.5);
    box-shadow:0px 3px 5px 1px rgba(0,0,0,0.205);
}

/*Second Slider*/

.site-slider-two{
    position:relative;
    height:30%
}

.site-slider-two .product{
    height:25rem;
    position:relative;
    /* overflow:hidden; */
}

.site-slider-two .product img{
    width:90%;
    margin:auto;
    transition:width 1s;
}

.site-slider-two .product img:hover{
    width:95%;
}

.site-btn {
    padding:0.8rem 1.9rem;
    border-radius: 4rem;
    border: 1px solid var(--border);
    background-color:white;
    color: var(--base-color-1);
}

.product a:hover{
    background-color: var(--base-color-2);
    color: var(--base-color-1);
}

.product .btn{
    display:inline;
}

.slider-two .slick-track .products:hover span{
    background-color: var(--base-color-1);
}

/*slider three*/
.site-slider-three{
    position: relative;
    height:30%;
}
.site-slider-three .card img{
    width:80%
}
.slider-three .card{
    margin:10px;
    border: 0px;
}

.item-text p {
    color:red;
}

.item-text h5{
    color:var(--base-color-2);
}